/* SPAN INFOS */
.span-infos-bg {
  background-color: #000000;
  padding: 0.6rem;
}
.span-infos {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  color: var(--texto-claro);
  font-size: 0.85rem;
  align-items: center;
  font-weight: 500;
  padding: 0 2rem;
}
.span-infos-lista {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  & li {
    display: flex;
    align-items: center;
    gap: 0.35rem;
  }
  & a {
    display: flex;
    align-items: center;
    gap: 0.35rem;
    color: var(--texto-claro);
  }
}

/* HEADER */
.header-bg {
  background: url(../images/bg-header.jpg) center repeat;
  background-size: cover;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2.5rem;
}
.nav-menu {
  display: flex;
  gap: 2.5rem;
}
.nav-menu li a {
  position: relative;
  text-decoration: none;
  color: var(--texto-claro);
  font-weight: 500;
  font-size: 1.15rem;
  &:after {
    position: absolute;
    content: "";
    display: block;
    height: 2px;
    width: 0;
    margin-top: 4px;
    background-color: var(--texto-claro);
    transition: 0.3s;
  }
  &:hover::after {
    width: 100%;
  }
}

.header-intro {
  display: grid;
  gap: 2.5rem;
  justify-items: center;
  padding: 4rem 2.5rem 7rem 2.5rem;
  & h1 {
    font-size: 3.5rem;
    font-family: var(--fonte-titulo);
    color: var(--cor-teak300);
    text-align: center;
  }
  & p {
    color: var(--texto-claro);
    font-family: var(--fonte-texto);
    text-align: center;
    max-width: 85ch;
    line-height: 1.6rem;
    font-size: 1.15rem;
  }
  & a {
    font-size: 1.5rem;
    color: var(--texto-claro);
    background-color: var(--cor-teak400);
    padding: 1.2rem 1.8rem;
    text-decoration: none;
    font-weight: 600;
    border-radius: 4px;
    &:hover {
      background-color: var(--cor-teak500);
    }
  }
}

/* SECTION ATUAÇÃO */
.atuacao-bg {
  background: linear-gradient(to right, #e9e5d8 30%, #f6f6f6 30%);
}
.atuacao-container {
  background: linear-gradient(to right, #e9e5d8 26%, #f6f6f6 26%);
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  padding: 2rem 2.5rem 0 2.5rem;
  gap: 1rem;
  align-items: center;
  & img {
    max-width: 100%;
    align-self: end;
    max-height: 500px;
  }
}

.atuacao-info-container {
  padding: 2rem 0 2rem 0;
}
.atuacao-titulo {
  display: flex;
  justify-content: space-between;
  align-items: start;
  & span {
    color: var(--cor-teak400);
    font-size: 0.8rem;
    font-weight: 600;
    padding-bottom: 0.5rem;
    display: block;
  }
  & h2 {
    font-family: var(--fonte-titulo);
    font-size: 2.5rem;
    font-weight: bold;
    display: block;
    padding-bottom: 2rem;
  }
  & img {
    max-width: 100%;
    align-self: start;
  }
}
.texto-geral {
  display: grid;
  gap: 1rem;
  & p {
    font-size: 1.15rem;
    line-height: 1.3rem;
    max-width: 60ch;
  }
}
.atuacao-btn {
  display: inline-block;
  font-size: 1rem;
  color: var(--texto-claro);
  background-color: var(--cor-teak400);
  margin-top: 0.5rem;
  padding: 1rem 1.4rem;
  text-decoration: none;
  font-weight: 600;
  border-radius: 4px;
  &:hover {
    background-color: var(--cor-teak500);
  }
}

/* SECTION ADVOGADOS */
.adv01-bg {
  background-color: var(--texto-escuro2);
}
.adv01-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: start;
  justify-items: center;
  gap: 3rem;
  padding: 4rem 2.5rem;
}
.adv01-intro {
  & span {
    color: var(--cor-anzac200);
    font-size: 0.8rem;
    font-weight: 600;
    padding-bottom: 0.5rem;
    display: block;
  }
  & h2 {
    font-family: var(--fonte-titulo);
    font-size: 2.5rem;
    font-weight: bold;
    display: block;
    padding-bottom: 2.5rem;
    color: var(--texto-claro);
  }
  & p {
    max-width: 60ch;
    color: var(--texto-claro);
  }
}

.adv02-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: start;
  justify-items: center;
  gap: 3rem;
  padding: 4rem 2.5rem;
}
.adv02-intro {
  & span {
    color: var(--cor-teak400);
    font-size: 0.8rem;
    font-weight: 600;
    padding-bottom: 0.5rem;
    display: block;
  }
  & h2 {
    font-family: var(--fonte-titulo);
    font-size: 2.5rem;
    font-weight: bold;
    display: block;
    padding-bottom: 2.5rem;
    color: var(--texto-escuro);
  }
  & p {
    max-width: 60ch;
    color: var(--texto-escuro2);
  }
}

/* SECTION LOCAL */
.local-bg {
  background: url(../images/city-local.jpg) center repeat;
  background-size: cover;
}
.local-titulo {
  font-family: var(--fonte-titulo);
  font-size: 2.5rem;
  font-weight: bold;
  display: block;
  padding: 4rem 2.5rem 2.5rem 2.5rem;
  padding-top: 4rem;
  color: var(--cor-teak400);
  text-align: center;
}
.local-info-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  justify-items: center;
  gap: 2rem;
  padding: 1rem 2.5rem 4rem 2.5rem;
}
.local-texto {
  display: grid;
  gap: 1rem;
  & p {
    font-size: 1.15rem;
    line-height: 1.3rem;
    max-width: 60ch;
    color: var(--texto-claro);
  }
  & a {
    display: inline-block;
    color: var(--texto-claro);
    /* max-width: max-content;
    font-size: 1rem;
    background-color: var(--cor-teak500);
    margin-top: 0.5rem;
    padding: 1rem 1.4rem;
    text-decoration: none;
    font-weight: 600;
    border-radius: 4px;
    &:hover {
      background-color: var(--cor-teak600);
    } */
  }
}
.local-maps {
  display: grid;
  gap: 1rem;
  max-width: 520px;
  & li {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    color: var(--texto-claro);
    padding-bottom: 0.7rem;
    & img {
      max-width: 1.15rem;
    }
  }
}

/* OBJETIVO ESCRITORIO */
.objetivo-bg {
  background-color: var(--texto-escuro2);
}
.objetivo-container {
  display: flex;
  gap: 0.5rem;
  padding: 1rem 2.5rem;
  & p {
    text-align: center;
    font-size: 1.75rem;
    font-family: var(--fonte-titulo);
    color: var(--texto-claro);
    padding: 1rem 0;
    line-height: 2.2rem;
  }
  & img:first-child {
    place-self: start;
    max-width: 3.5rem;
  }
  & img:last-child {
    place-self: end;
    max-width: 3.5rem;
  }
}

/* CONTATO */
.home-contato-bg {
  position: relative;
  background: linear-gradient(to left, #e9e5d8 30%, #f6f6f6 30%);
}
.home-contato-container {
  padding: 3rem 2.5rem;
  & h2 {
    font-family: var(--fonte-titulo);
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom: 2.5rem;
    color: var(--texto-escuro2);
  }
}
.home-form-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 1rem;
}
.home-lista-contatos {
  position: absolute;
  top: 0;
  left: 60%;
  right: 0;
  bottom: 0;
  display: grid;
  gap: 2rem;
  background-color: var(--texto-escuro2);
  padding: 2rem;
  align-self: center;
  & li {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    color: var(--texto-claro);
    & img {
      max-width: 20px;
    }
  }
  & a {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    color: var(--texto-claro);
    & img {
      max-width: 20px;
    }
  }
}

.form-contato {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.form-contato input[type="text"],
.form-contato input[type="email"],
.form-contato input[type="tel"],
.form-contato textarea {
  font: 400 1rem / 1.5 "Roboto", sans-serif;
  background: white;
  border: 1px solid var(--texto-claro2);
  padding: 12px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}
input[type="text"] {
  padding-block: 1px;
  padding-inline: 2px;
}
.form-contato .col-2 {
  grid-column: span 2;
}
.form-contato label {
  display: block;
  font: 400 1rem / 1.5 "Poppins", sans-serif;
  margin-bottom: 4px;
}

.submit-button {
  display: inline-block;
  background-color: var(--texto-escuro2);
  color: #f6f6f6;
  border: none;
  padding: 1rem 1.5rem; /* Adjust padding as needed */
  font-size: 1rem;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: var(--texto-escuro);
  }
}

/* FOOTER */
.footer-bg {
  background-color: var(--texto-escuro2);
}
.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 3rem 2.5rem;
}
.nav-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.nav-footer li a {
  position: relative;
  text-decoration: none;
  color: var(--texto-claro);
  font-weight: 500;
  font-size: 1rem;
  &:hover {
    border-bottom: 2px solid var(--texto-claro);
  }
}
.footer-logo {
  display: grid;
  gap: 0.5rem;
  & p {
    font-size: 0.75rem;
    color: #b3b2af;
    font-weight: 600;
    max-width: 28ch;
  }
}
.footer-copy {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 2rem 2.5rem;
  border-top: solid 2px #3b3b3b;
  border-radius: 4px;
  text-align: right;
  & p {
    padding-left: 0.3rem;
    color: #888888;
    font-size: 0.75rem;
    font-weight: 600;
  }
}

.btn-link-wpp img {
  width: 2.8rem;
  border-radius: 20% 20% 20% 0;
  cursor: pointer;
}
.btn-link-wpp {
  position: relative;
  &:hover:before {
    position: absolute;
    content: "WhatsApp";
    right: 40px;
    bottom: 2px;
    background-color: #1bd741;
    padding: 0.3rem 0.65rem;
    color: white;
    font-weight: bold;
    border-radius: 4px 0 0 4px;
    font-size: 0.85rem;
  }
}
.btn-subir {
  display: flex;
  justify-items: center;
  border-radius: 20%;
  cursor: pointer;
  background-color: var(--texto-escuro);
  &:hover {
    background-color: var(--texto-escuro2);
  }
  & img {
    width: 1.5rem;
    padding: 0.75rem 0.5rem;
    margin: 0 auto;
  }
}
.icons-lateral {
  position: fixed;
  right: 1.5rem;
  bottom: 1rem;
  display: grid;
  gap: 0.75rem;
}
/* JavaScript */
.leia-mais {
  display: none !important;
}

.dsp-block {
  display: block !important;
}

.menu-hamb {
  display: none;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 0.5rem;
  color: var(--texto-claro);
}
