@media (max-width: 835px) {
  .nav-menu {
    gap: 0.5rem;
  }
  .nav-menu li a {
    font-size: 1rem;
    padding: 0.6rem;
    &:hover::after {
      width: 0%;
    }
  }

  .objetivo-container {
    & p {
      font-size: 1.5rem;
      line-height: 1.7rem;
    }
    & img {
      max-width: 3rem !important;
    }
  }
}

@media (max-width: 770px) {
  .nav-menu {
    gap: 0.2rem;
  }
  .header-intro {
    padding: 3.5rem 2.5rem 6rem 2.5rem;
    & h1 {
      font-size: 2.8rem;
    }
    & p {
      font-size: 1rem;
    }
    & a {
      font-size: 1.3rem;
      padding: 1rem 1.6rem;
    }
  }
  .texto-geral {
    gap: 0.7rem;
    & p {
      font-size: 1.05rem;
    }
  }
  .leia-mais {
    display: block !important;
    max-width: max-content;
    cursor: pointer;
    text-decoration: underline;
    padding: 0.5rem 0;
    color: var(--cor-teak400);
    font-size: 1.15rem;
  }
  .leia-mais-texto {
    display: none;
  }
  .objetivo-container {
    & p {
      font-size: 1.2rem;
      line-height: 1.4rem;
    }
    & img {
      max-width: 2.5rem !important;
    }
  }
  .home-form-container {
    grid-template-columns: 1fr;
  }
  .home-contato-bg {
    background: var(--texto-claro) !important;
  }
  .home-lista-contatos {
    position: static;
    border-radius: 4px;
  }
}

@media (max-width: 630px) {
  .span-infos-lista li:first-child {
    display: none;
  }

  .nav-container {
    position: relative;
    padding: 1rem 2rem;
  }
  .nav-menu {
    position: absolute;
    display: none;
    right: 2rem;
    top: 62px;
    background-color: var(--texto-escuro);
    border: 1px solid black;
    & li {
      display: grid;
      border-top: 1px solid var(--texto-claro2);
      box-sizing: border-box;
      max-width: 100%;
      &:first-child {
        border-top: none !important;
      }
      & a {
        color: var(--texto-claro);
        text-align: center;
        padding: 1rem 2rem;
      }
    }
  }
  .menu-hamb {
    display: grid;
    text-align: center;
    justify-content: end;
  }

  .header-intro {
    padding: 2rem 1.5rem 5rem 1.5rem;
    gap: 1.5rem;
    & p {
      padding: 0rem 1rem;
    }
  }

  .atuacao-container {
    grid-template-columns: 1fr;
    padding: 2.5rem;
    background: var(--texto-claro);
    & img:first-child {
      display: none;
    }
  }
  .atuacao-info-container {
    padding: 0;
    & h2 {
      font-size: 2.25rem;
      padding-bottom: 1.5rem;
    }
  }

  .adv01-container {
    grid-template-columns: 1fr;
    padding: 2.5rem;
    gap: 1.5rem;
  }
  .adv01-intro {
    grid-row: 2 / 3;
    & h2 {
      padding-bottom: 1.5rem;
      font-size: 2.25rem;
    }
    & .leia-mais {
      font-size: 1rem;
      color: var(--cor-teak400);
    }
  }
  .adv02-container {
    grid-template-columns: 1fr;
    padding: 2.5rem;
    gap: 1.5rem;
    & h2 {
      padding-bottom: 1.5rem;
      font-size: 2.25rem;
    }
  }

  .local-titulo {
    font-size: 2.2rem;
    padding: 2.5rem;
  }
  .local-info-container {
    grid-template-columns: 1fr;
    padding: 0 2.5rem 2.5rem 2.5rem;
  }
  .local-maps {
    grid-row: 1 / 2;
    width: 100%;
  }
  .local-texto {
    gap: 0.5rem;
  }

  .footer-container {
    gap: 1.8rem;
    padding: 3.5rem 1.5rem;
  }
}

@media (max-width: 430px) {
  .header-intro {
    padding: 1.5rem 1.5rem 3rem 1.5rem;
    & a {
      padding: 0.95rem 1.2rem;
      font-size: 1.3rem;
    }
  }
  .atuacao-container {
    padding: 1.5rem;
  }
  .adv01-container {
    padding: 1.5rem;
  }
  .adv02-container {
    padding: 1.5rem;
  }
  .local-titulo {
    padding: 1rem;
    padding-top: 1.5rem;
  }
  .local-info-container {
    padding: 1.5rem;
    gap: 1.5rem;
    padding-bottom: 2.5rem;
    & a {
      display: none;
    }
  }
  .objetivo-container {
    display: none;
  }

  .home-contato-container {
    padding: 1.5rem;
    & h2 {
      padding-bottom: 1.5rem;
    }
  }

  .nav-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.2rem;
  }
  .nav-footer li {
    padding: 0.5rem;
  }
}
